<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612864906976-1r7qdlmtb2ivj72n10tomk7uv1kfpit3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612864906976-1r7qdlmtb2ivj72n10tomk7uv1kfpit3</string>
	<key>API_KEY</key>
	<string>AIzaSyBRi8ejKoLByiCN5f-RJbSWEbz0JYVHE8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>612864906976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zaneh.cookMe</string>
	<key>PROJECT_ID</key>
	<string>cookme-b128e</string>
	<key>STORAGE_BUCKET</key>
	<string>cookme-b128e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612864906976:ios:a80bfd1f11d41f62</string>
	<key>DATABASE_URL</key>
	<string>https://cookme-b128e.firebaseio.com</string>
</dict>
</plist>